.project {
  background-color: black;
  font-family: "Poppins", sans-serif;
}
.text-project {
  color: white;
  margin-bottom: 40px;
  font-size: 30px;
}

.project-container {
  display: flex;
  flex-direction: column;
}
.row1 {
  flex: 0.5;
  display: flex;
  flex-direction: row;
}
.row2 {
  flex: 0.5;
  display: flex;
  flex-direction: row;
}
.row1-left {
  flex: 0.5;
  color: white;
  height: 350px;
  background-color: black;
}
.row1-right {
  flex: 0.5;
  height: 350px;
  
}
.row2-left {
  flex: 0.5;
  height: 350px;
}
.row2-right {
  color: white;
  flex: 0.5;
  height: 350px;
  background-color: black;
}

.row-text {
  padding: 20px;
  
}
.row-text-head {
  margin-top: 30px;
}

.link-project {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  margin-top: 10px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.link-project:hover {
  color: crimson;
  background: none;
}

.img-project {
  height: 350px;
  width: 100%;
}

.f-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  word-wrap: break-word;
  flex-wrap: wrap;
  margin-top: 50px;
}
.f-text {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 20px;
}
.social-links {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 10px;
  padding: 3px 10px;
  margin-top: 20px;
  font-weight: 200;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.row-text-head:hover {
  color: crimson;
  transition: all 0.3s ease;
}

@media (max-width: 690px) {
  .row1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .row2 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .project-container {
    justify-content: space-around;
  }
  .row1-right {
    margin-top: 100px;
  }
  .img-project {
    height: 250px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .row1 {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .row2 {
    font-size: 15px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .project-container {
    justify-content: space-around;
  }
  .row1-right {
    margin-top: 100px;
  }
  .img-project {
    height: 250px;
    width: 100%;
  }
}
